<div class="widgets">
    <div class="row">
        <div class="col-md-7">
            <ba-card title="Holders By Institution" baCardClass="with-scroll button-panel">
                <div class="form-group row">
                    <label for="tickerSelect" class="col-sm-2 form-control-label">SELECT TICKER:</label>
                    <div class="col-sm-10">
                        <p-autoComplete [(ngModel)]="equityModel" [suggestions]="results" (completeMethod)="findEquityMatches($event)"></p-autoComplete>
                    </div>
                </div>
                <div class="row">
                    <div class="button-wrapper">
                          <button type="button" class="btn btn-success btn-sm" (click)="export(institutionResults)" style="float:right">Export To Excel</button>
                     </div>
                </div>
                <p></p>
                <div class="row">
                    <p-dataTable [value]="institutionResults" [(selection)]="selectedInstitutions" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" >

                        <header>Current Equity Institution Positions
                            
                           

                        </header>
                        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                        <p-column field="_institutionName" header="Institution" [style]="{'textAlign':'left'}"></p-column>
                        <p-column field="_position" header="Position" [style]="{'textAlign':'right'}"></p-column>
                        <p-column field="_price" header="Price" [style]="{'textAlign':'right'}"></p-column>
                    </p-dataTable>
                </div>
            </ba-card>
        </div>
    </div>
</div>