<div class="widgets">
    <div class="row">
        <div class="col-md-7">
            <ba-card title="Held Equity Positions" baCardClass="with-scroll button-panel" [style]="{'height':'300px'}">
                <div class="form-group row">
                    <label for="tickerSelect" class="col-sm-2 form-control-label">SELECT TICKER:</label>
                    <div class="col-sm-10">
                        <p-autoComplete name="tickerSelect" (onSelect)="selectedEquity($event)" [(ngModel)]="equityModel" [suggestions]="results" (completeMethod)="findEquityMatches($event)" field="EquityName" placeholder="Enter ticker.." [style]="{'width':'450px'}">
                        </p-autoComplete>
                    </div>
                    
                </div>
                <div class="form-group row" *ngIf="showHolderPositions">
                    <div class="col-sm-10">
                        <p-checkbox [(ngModel)]="historicCheck" binary="true" label="Historical Data?" (onChange)="historicCheckChanged($event)"></p-checkbox>
                    </div>
                </div>
                <div class="row" *ngIf="historicCheck">
                    <label class="col-sm-2 form-control-label">HISTORICAL PERIOD:</label>
                    <div class="col-sm-10">
                       <p-dropdown [options]="tenors" [(ngModel)]="selectedTenor"></p-dropdown>
                    </div>
                </div>
               
                <div class="row" *ngIf="showHolderPositions">
                    <div class="button-wrapper">
                          <button type="button" class="btn btn-success btn-sm" (click)="export(institutionResults)" style="float:right">Export To Excel</button>
                     </div>
                </div>
                <p></p>
                <div class="row" *ngIf="showHolderPositions">
                    <p-dataTable [value]="institutionResults" [(selection)]="selectedInstitutions" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" >

                        <header>Holder Positions
                        </header>
                        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                        <p-column field="_institutionName" header="Institution" [style]="{'textAlign':'left'}"></p-column>
                        <p-column field="_position" header="Position" [style]="{'textAlign':'right'}"></p-column>
                        <p-column field="_price" header="Price" [style]="{'textAlign':'right'}"></p-column>
                    </p-dataTable>
                </div>
            </ba-card>
        </div>
    </div>
</div>